@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,500&family=Montserrat:wght@200;400;500;600;800&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}

.header {
    background: url(/assets/japan_header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: rgba(0, 0, 0, .5);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.logo {
    flex: 1 1 auto;
    font-size: 30px;
    font-weight: bold;
}

.logo a {
    font-size: 25px;
}

.logo a:hover {
    color: rgb(193, 140, 243);
}

.nav {
    flex: 5 1 auto;
    text-align: center;
}

.nav a {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: rgb(193, 140, 243);
}

.off {
    padding-left: 10px;
}

.social {
    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 25px;
    padding: 0 5px;
}

.social a:hover {
    color: rgb(193, 140, 243);
}

.texto-principal {
    height: 95vh;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}

.section {
    background: #f7f7f7;
    display: flex;
}

.articulos {
    background: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    width: 550px;
    flex: 1 1 40%;
    color: black;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
    flex: 1 1 45%;
    background: #ececec;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}

.article a:hover {
    color: rgb(193, 140, 243);
}

h3 {
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: -80px;
}

h2 {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 0 10px 10px;
}

p {
    font-size: 15px;
    padding-top: 3px;
}

.navegacion {
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
}

.navegacion a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 2px;
}

.navegacion a:hover {
    color: rgb(193, 140, 243);
}

.aside {
    flex: 1 1 auto;
    margin: 10px 5px 10px 5px;
}

.aside img {
    width: 100%;
}

h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.footer {
    background: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pie {
    text-align: center;
}

.pie a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

@media all and (max-width: 1120px) {

    .menu {
        flex-direction: column;
        height: auto;
    }

    .section {
        flex-direction: column;
    }

    .social {
        padding: 10px;
    }

    .aside {
        display: flex;
        justify-content: center;
    }

    .publicidad {
        margin: 0 5px;
    }

    h1 {
        font-size: 20px;
    }

    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width:785px) {

    .nav {
        display: flex;
    }

    h3 {
        color: white;
        font-size: 10px;
        padding: 10px;
        margin-top: -70px;
    }

    h2 {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0 0 10px 10px;
    }
}

@media all and (max-width:762px) {

    .nav {
        display: flex;
    }

    .articulos {
        flex-direction: column;
        background: #f7f7f7;
    }

    .article {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }
}

@media all and (max-width:650px) {

    .off {
        display: none;
    }

    .nav a {
        font-size: 25px;
    }
}

@media all and (max-width:470px) {

    h1 {
        font-size: 15px;
    }

    .navegacion a {
        width: 100%;
        font-size: 14px;
    }

    .aside {
        flex-direction: column;
    }
}

@media all and (max-width:410px) {

    .margen-interno {
        padding: 0 25px;
    }

    h1 {
        font-size: 14px;
    }

    h3 {
        color: white;
        font-size: 10px;
        padding: 10px;
        margin-top: -65px;
    }

    h2 {
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0 0 10px 10px;
    }

    .navegacion a {
        width: 100%;
        font-size: 10px;
    }

    .aside {
        flex-direction: column;
    }

    .pie {
        display: flex;
    }
}